.articlesCounter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5rem;
}
.article {
  margin: 1rem;
  padding: 1.5rem;
  background-color: rgba(158, 188, 202, 0.459);
  border-radius: 7%;
  box-shadow: 2px 2px 15px 0px rgb(131, 136, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.article > p,
h3 {
  align-self: flex-start;
  text-align: justify;
  min-height: 20%;
}
.article > p {
  min-height: 45%;
}
.article > button {
  width: 80%;
  justify-self: flex-end;
}
